.container1{
    display: flex;
    border: 1.4px solid black;
    max-width: 60%;
    margin: auto;
    justify-content: space-around;
    height: 300px;
    align-items: center;
    flex-direction: row;
}

.h1{
    text-align: center;
    max-width: 60%;
    margin: auto;
}

.column{
    background-color: #A8A8F0;
    display: flex;
    max-width:100px;
    width:50px;
    flex-direction: column;
    margin-top: -5px;
    margin-bottom: -5px;
    padding:8px;
    align-items: center;
}
.div1{
    display: flex;
    align-items:flex-start;
    width:94%;
    flex-direction: column;
    margin: auto;
}
.div2{
    display: flex;
    align-items:center;
    width:94%;
    flex-direction: column;
    margin: auto;
}
.div3{
    display: flex;
    align-items:flex-end;
    width:94%;
    flex-direction: column;
    margin: auto;
}
.p1{
    margin-top: 0px;
    margin-bottom: 0px;
}